body {
	color: black;

}

nav {
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 0.2em;
}

.navbar-brand:hover {
	letter-spacing: 0.22em;
}

h1 {
	font-family: 'Noto Sans', sans-serif;
}

.socBtn {
	width: 75px;
	height: 75px;
	margin: 10px;
	border-radius: 100%;
	font-size: 28px;
	background-color: rgba(255, 255, 255, 0.25);
	border: 1px solid black;
	-webkit- box-shadow: 0px 0px 6px 1px black;
	-moz- box-shadow: 0px 0px 6px 1px black;
	box-shadow: 0px 0px 6px 1px black;
}

.socBtn i {
	color: black;
}

.socBtn:hover {
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid white;
	-webkit- box-shadow: 0px 0px 6px 1px white;
	-moz- box-shadow: 0px 0px 6px 1px white;
	box-shadow: 0px 0px 6px 1px white;
}

.socBtn:hover i {
	color: white;
}

.bottomScroll {
	cursor: pointer;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	height: 20px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	background-color: #222222;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.topScroll {
	cursor: pointer;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	height: 20px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background-color: #222222;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	position: absolute;
	vertical-align: text-top;
	top: 0px;
	right: 0px;
	left: 0px;
}

.bottomScroll:hover {
	border: 1px solid white;
	-webkit- box-shadow: 0px 0px 3px 1px white;
	-moz- box-shadow: 0px 0px 3px 1px white;
	box-shadow: 0px 0px 3px 1px white;
}

.topScroll:hover {
	border: 1px solid white;
	-webkit- box-shadow: 0px 0px 3px 1px white;
	-moz- box-shadow: 0px 0px 3px 1px white;
	box-shadow: 0px 0px 3px 1px white;
}

.bottomScroll i.fa {
	font-size: 14px;
	margin-top: 4px;
	color: white;
}

.topScroll i.fa {
	display: inline-block;
	padding: 0px;
	font-size: 14px;
	margin-bottom: 10px;
	color: white;
}

#home {
	background-image: url("../images/oceanOffice-Cropped.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/macbook.jpg") no-repeat;
    background-size: cover; 
}

#about {
	background-image: url("../images/macbook-Cropped.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#portfolio {
	background-image: url("../images/portfolioTable.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.project {
	float: left;
	width: 250px;
	height: 200px;
	margin: 15px;
}

#contact {
	background-image: url("../images/notepad-Cropped.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#aboutContent {
	margin-top: 15%;
}

.aboutSkip {
	margin-top: 10%;
	font-size: 48px;
	cursor: pointer;
}

.aboutSkip:hover {
	color: #222222;
}

button i {
	color: black;
}

.active {
	color: blue;
}

.active a {
	color: blue;
}

.contentSegment {
	padding: 20px 5px;
	position: relative;
}

#currentAbout {
	background-color: rgba(219, 212, 184, 0.45);
	color: black;
	padding: 10px;
	font-size: 36px;
	line-height: 0.95;
	text-shadow: 0px 0px 6px #F3EBDB;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}


