body {
	color: black;
	font-family: calibri, arial, sans-serif;

}

nav {
	margin-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	color: #DCD3B9;
}

.bottomScroll {
	cursor: pointer;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	height: 20px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.topScroll {
	cursor: pointer;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	height: 20px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid gray;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}

.bottomScroll i.fa {
	font-size: 14px;
	margin-top: 4px;
	color: white;
}

.topScroll i.fa {
	font-size: 14px;
	margin-bottom: 40px;
	color: white;
}

#home {
}

#about {
	background-image: url("../images/macbook.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#portfolio {
	background-image: url("../images/portfolioTable.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.project {
	float: left;
	width: 250px;
	height: 200px;
	margin: 15px;
}

#contact {
}

#aboutContent {
	margin-top: 10%;
	margin-bottom: auto;
}

button i {
	color: black;
}

.contentSegment {
	padding: 20px 5px;
	position: relative;
}

.contentSegment p {
	color: black;
	font-size: 32px;
	line-height: 0.95;
	text-shadow: 0px 0px 6px #F3EBDB;
}

.socialButton {
	border-radius: 50%;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.socialButton:hover {
	-webkit- box-shadow: 0px 0px 3px 1px white;
	-moz- box-shadow: 0px 0px 3px 1px white;
	box-shadow: 0px 0px 3px 1px white;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}