<!DOCTYPE html>

<html ng-app="mainModule">

<head>
	<title>Kyle Corbelli | Software Developer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.4.4/angular-touch.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Custon JS Scripts -->
	<script src="js/modules/mainModule.js"></script>
	<script src="js/controllers/mainController.js"></script>
	
	<script src="js/directives/scrollArrowDirective.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/customStyle.css">
</head>

<body ng-controller="mainCtrl">
	<!-- The main navbar: -->
	<nav class="navbar navbar-default navbar-fixed-top" id="mainNavbar">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#expandedNav" aria-expanded="false" id="hamburgerButton" ng-click="expandOrContractHamburger()">
					<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand navLinks" href="" ng-click="scrollToSection('home')">Kyle Corbelli</a>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="expandedNav">
				<ul id="navOptions" class="nav navbar-nav">
					<li ng-repeat="section in contentSections" ng-class="activeSection(section.id)"><a class="navLinks" href="" ng-click="scrollToSection(section.id)">{{section.title}}</a></li>				
				</ul>
			</div>
		</div>
	</nav>

	<div id="mainContent">

		<!-- Content sections: -->
		<div class="text-center contentSegment" ng-repeat="section in contentSections" id="{{section.id}}">
			<div ng-include="'views/scrollUp.html'"></div>
			<div ng-include="section.view"></div>
			<div ng-include="'views/scrollDown.html'"></div>
		</div>

	</div>

</body>

</html>