<div id="aboutContent">
	<p>Welcome. My name is Kyle and I'm a California software developer.</p>
	<p>I build with all things JavaScript: AngularJS, jQuery, Node.js and Express.js.</p>
	<p>I'm a UC Berkeley mathematics graduate with applications in computational statistics. I know my way around a database and use both MySQL and MongoDB.</p>
	<p>I'm currently working for a local non-profit, building an AngularJS-based, Google Maps API-enhanced web app to help users locate animal-cruelty-free restaurants.</p>
</div>