<h1>Kyle Corbelli | Software Developer</h1>

<!--
<video autoplay loop poster="images/macbook.jpg" id="bgvid">
    <source src="polina.webm" type="video/webm">
    <source src="videos/surf.mp4" type="video/mp4">
</video>
-->

<a target="_blank" href="{{social.href}}" ng-repeat="social in socialIcons">
	<button class="socBtn" id="{{social.id}}">
		<i class="fa {{social.faIcon}}"></i>
	</button>
	<div class="mdl-tooltip mdl-tooltip--large" for="{{social.id}}">
		{{social.id}}
	</div>
</a>


<!--

class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect socialButton"

-->